<%- include("../header.ejs") %> <%- include("../sidebar.ejs") %> 
<div class="content-wrapper"> 
  <!-- Content Header (Page header) --> 
  <div class="content-header"> 
    <div class="container-fluid"> 
      <div class="row mb-2"> 
        <div class="col-sm-6"> 
          <h1 class="m-0">View</h1> 
        </div> 
        <!-- /.col --> 
        <div class="col-sm-6"> 
          <ol class="breadcrumb float-sm-right"> 
            <li class="breadcrumb-item"><a href="#">View</a></li> 
            <li class="breadcrumb-item active">Display</li> 
          </ol> 
        </div> 
        <!-- /.col --> 
      </div> 
      <!-- /.row --> 
    </div> 
    <!-- /.container-fluid --> 
  </div> 
  <!-- /.content-header --> 
  <!-- </div> --> 
  <div class="card"> 
    <!-- /.card-header --> 
    <div class="card-body"> 
      <table id="example1" class="table table-bordered table-striped"> 
        <div class="container"> 
          <table class="table table-borderd"> 
            <thead> 
              <tr> 
                <th>Id</th> 
                <th>Name</th> 
                <th>Image</th> 
              </tr> 
            </thead> 
            <tbody> 
              <tr> 
                <td><%= d.id %></td> 
                <td><%= d.name %></td> 
                <td> 
                  <img src="<%= d.image.url %>" width="50" height="50" alt="" /> 
                </td> 
              </tr> 
            </tbody> 
          </table> 
        </div> 
        <center> 
          <a href="/admin/category/display" class="btn btn-info mb-3">Back</a> 
        </center> 
      </table> 
    </div> 
    <!-- /.card-body --> 
  </div> 
  <!-- /.card --> 
</div> 
<!-- /.content-wrapper --> 
<%- include("../footer.ejs") %>